.toggleMenu {
    top: 0;
    width: 50vw;
    display: flex;
    opacity: 0.85;
    z-index: 1000;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

@media screen and (min-width: 900px) {
    .toggleMenu {
        width: 26vw;
    }
}
