.blogCard {
  width: 100%;
  margin: 1em;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 0 1em;
}

.blogCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.infoContainer {
  margin: 1em 0;
}

h1 {
  font-size: 14px;
  margin: 0.25em 0;
}

p, a {
  font-size: 12px;
  margin: 0.5em 0;
  text-decoration: none;
}

